body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    position: relative;
}

header .back-btn {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

header .back-btn:hover {
    background-color: #45a049;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.get-started-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.get-started-btn:hover {
    background-color: #45a049;
}

.about-img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.bottom-img {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: block;
    border-radius: 8px;
}